body {
  font-family: sans-serif;
}

#main_col {
  width: 80%;
  margin: auto;
}

#test_ctrl {
  margin: auto;
  height: 4em;
  //border: 1px solid blue;
}

#test_form {
  float: left;
  width: 79%;
  //border: 1px solid blue;
}

#test_result {
  float: right;
  width: 19%;
  height: 100%;
  text-align: center;
  line-height: 4em;
  vertical-align: text-middle;
  //border: 1px solid blue;
  border-radius: 10px;
}

#test_list {
  margin-top: 0.5em;
  //border: 1px solid blue;
}

div.clear {
  clear: both;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
  background-color: cyan;
}

th, td {
  padding: 0.2em;
}

p {
  margin: 0 0 0.2em 0;
}
